:root {
  --first-color: #ffffff;
  --second-color: #000000;
  --text-color: #ffffff;
  --body-font: 'Poppins', sans-serif;
  --small-font-size: 0.875rem;
}

body, html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: var(--second-color);
  color: var(--text-color);
  overflow-x: hidden;
  /* height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
